<html>
<head>
<link rel=stylesheet type=text/css href="{{url_for('static',filename='style.css')}}" >
</head>
<body>
<div class = 'pane'>

<div class = 'header'>
<h1>{{restaurant.name}} Restaurant</h1>
<h3>New Menu</h3>
</div>
<div>

<form method='POST' enctype='multipart/form-data' action=' {{url_for('newMenuItem', restaurant_id = restaurant.id) }}'>

<p>New Menu Item Name:</p>
<input type='text' name='name'> 

    <p>Course</p>
    <input type="radio" name="course" value='Appetizer' required>Appetizer</input><br/>

    <input type="radio" name="course" value = 'Entree'>Entree</input><br/>

    <input type="radio" name="course" value = 'Dessert'>Dessert</input><br/>
    
    <input type="radio" name="course" value = 'Beverage'>Beverage</input>

<p>New Menu Item description:</p>
<textarea type='text' name='description'></textarea>
<p>New Menu Item price:</p>
<input type='text' name='price'  >
<p><input type='submit' value='Create'></p>
<p> <a href='{{ url_for('restaurantMenu',restaurant_id= restaurant.id) }}'>CANCEL</a> </p>
</form>

</div>

</div>

</body>

</html>
